:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(90deg, hsla(37, 97%, 70%, 1) 1%, hsla(329, 70%, 58%, 1) 100%);
  --YouTube: hsl(348, 97%, 39%);

  --toggle: linear-gradient(
    90deg,
    hsla(210, 78%, 56%, 1) 10%,
    hsla(146, 68%, 55%, 1) 100%
  );
  --BG: hsl(230, 17%, 14%);
  --Top-BG-Pattern: hsl(232, 19%, 15%);
  --Card-BG: hsl(228, 28%, 20%);
  --Text: white;
  --Secondary-text: hsl(228, 34%, 66%);

  --bla: 1px solid black;
  --sal: 1px solid salmon;
  --aqu: 1px solid aqua;
}

.light {
  --toggle: hsl(230, 22%, 74%);
  --BG: white;
  --Top-BG-Pattern: hsl(225, 100%, 98%);
  --Card-BG: hsl(227, 47%, 96%);
  --Text: hsl(230, 17%, 14%);
  --Secondary-text: hsl(228, 12%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: var(--BG);
  color: var(--Text);
  font-size: 1.6rem;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
a,
button {
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sb {
  justify-content: space-between;
}
.col {
  flex-direction: column;
}

#root {
  width: 100%;
  padding: 0 10%;
}

header {
  height: 16vh;
}
header .header-texts h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}
header .header-texts p {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--Secondary-text);
}

.theme-toggler {
  gap: 1.4rem;
}
.theme-toggler label {
  color: var(--Secondary-text);
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
}
.theme-toggler .light {
  position: absolute;
  left: 0;
  opacity: 0;
}

.inputs-wrapper {
  width: 4.8rem;
  height: 2.4rem;
  border-radius: 1.2rem;
}

.theme-toggler input[type="radio"] {
  width: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  opacity: 0;
}
.toggle-bg {
  background: var(--toggle);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  z-index: -1;
}
.toggle-switch {
  position: absolute;
  left: 2px;
  top: 2px;
  width: calc(50% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  background-color: var(--BG);
  transition: transform 0.1s linear;
}

#light:checked ~ .toggle-switch {
  transform: translateX(calc(100% + 4px));
  background-color: white;
}

.main-top,
.main-bottom .card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
}

.main-top {
  margin-bottom: 4.6rem;
}
.card {
  background-color: var(--Card-BG);
  border-radius: 4px;
}
.main-top .card {
  height: 22rem;
  padding: 3rem 0;
}
.main-top .card::after {
  content: "";
  display: inline;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px 4px 0 0;
}
.main-top .card:nth-child(1)::after{
  background: var(--Facebook);
}
.main-top .card:nth-child(2)::after{
  background: var(--Twitter);
}
.main-top .card:nth-child(3)::after{
  background: var(--Instagram);
}
.main-top .card:nth-child(4)::after{
  background: var(--YouTube);
}

.social {
  height: 1.8rem;
  width: 1.8rem;
}
.main-top .card .social-username {
  gap: 1rem;
}
.social {
  height: 1.8rem;
  width: 1.8rem;
}
.main-top .card .social-username .username {
  font-size: 1.2rem;
  color: var(--Secondary-text);
  font-weight: 700;
}

.main-top .card .numbers .f-count {
  text-align: center;
  font-size: 5.6rem;
  font-weight: 700;
}
.main-top .card .numbers .f-text {
  text-align: center;
  font-size: 1.4rem;
  color: var(--Secondary-text);
}

.main-top .card .arrow-text {
  gap: 4px;
}
.main-top .card .arrow-text .today {
  font-size: 1.2rem;
  font-weight: 700;
}

.main-bottom > h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}

.main-bottom .card-wrapper .card {
  height: 12rem;
  padding: 2.4rem 10%;
}
.main-bottom .card > * {
  width: 100%;
}

.main-bottom .card .top .event {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--Secondary-text);
  margin-top: -8px;
}

.main-bottom .card .bottom {
  align-items: baseline;
  padding-top: 2rem;
}

.main-bottom .card .bottom .rise-count {
  font-size: 3.2rem;
  font-weight: 700;
}

.main-bottom .card .bottom .arrow-text {
  gap: 2px;
}
.main-bottom .card .bottom .arrow-text .percentage {
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0 6%;
  }
}
@media screen and (max-width: 600px) {
  #root {
    padding: 0 16%;
  }

  header {
    height: 16vh;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  header > * {
    width: 100%;
  }
  header .header-texts {
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #373a4d;
  }
  header .theme-toggler {
    height: 30%;
    justify-content: space-between;
    align-items: flex-end;
  }

  .main-top,
  .main-bottom .card-wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  #root {
    padding: 0 10%;
  }
}
